<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="icon" href="/img/1.jpg">
    <script type="javascript" src="./js/require.js"></script>
    
        {{!--   
    <link rel="icon" href="../../public/img/Firefox_wallpaper.png"> --}}

    <link rel="stylesheet" href="./css/styles.css">

</head>

<body>

    <div class="main-content">
        {{>header}} {{!-- partials --}}
        <p>Use this site for get Weather</p>
        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>
        <p id="message-1">        </p>
        <p id="message-2"></p>
    </div>



    {{!-- <h1>{{title}} </h1> --}}


    {{!-- <i>{{name}}</i> --}}

    {{>footer}}
    <script src="./js/app.js"></script>
</body>

</html>