/* h1{
    color:bisque
}
img{
    width: 250px;
} */
body {
    color: rgb(44, 69, 45);
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height:50vh;

}

.main-content{
    flex-grow: 1;
}

header a {
    color: #c01a1a;
    margin-right: 16px;
    text-decoration: none;
}

footer {
    /* background: darkorchid;
    padding:16px;
    margin: 16px; */
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}
/* .portrait{
    width: ;
} */

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

input{
    border: 1px solid #cccccc;
    padding: 8px;
}

button{
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}